database/images/spandan/spandan_01.jpg
database/images/spandan/spandan_02.jpg
database/images/spandan/spandan_03.jpg
database/images/spandan/spandan_04.jpg
database/images/spandan/spandan_05.jpg
database/face_bins/spandan/spandan_01.npy
database/face_bins/spandan/spandan_02.npy
database/face_bins/spandan/spandan_03.npy
database/face_bins/spandan/spandan_04.npy
database/face_bins/spandan/spandan_05.npy
database/face_bins/swikar/swikar_01.npy
database/images/swikar/swikar_01.jpg
database/known_face_encodings/spandan.npy
main/__pycache__